body {
    font-family: var(--font-family);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.test_interf__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_interf__title-wrapper {
    margin: 1rem 0;
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_interf__title-wrapper img {
    max-height: 100%;
}

.test_interf__title-wrapper h1 {
    margin: 0 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--gradient-text);
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}