body {
    font-family: var(--font-family);

    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.test_interf__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_interf__title-wrapper {
    margin: 1rem 0;
    width: 450px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.test_interf__title-wrapper img {
    max-height: 100%;
}

.test_interf__title-wrapper h1 {
    margin: 0 1rem;
    font-size: 2.5rem;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--gradient-text);
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#block-name-btn dropdown-menu .dropdown-select,
#block-name-btn dropdown-menu .dropdown-select .dd-searchbox {
    font-family: var(--code-font-family);
    font-size: 12px;
}

.test_interf__gen_input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.test_interf__gen_input-title {
    margin-bottom: 32px;
}

.test_interf__gen_input-title h2 {
    font-weight: 500;
    color: #99f2bf;
    margin: 0;
}

.test_interf__gen_input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 24px;
}

.test_interf__gen_input-container-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 8px;
}

.test_interf__gen_input-container-title div {
    width: 100%;
    height: 3px;
    background: var(--gradient-bar);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.test_interf__gen_input-container-title h3 {
    color: #ffffff;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
}

.test_interf__gen_input-container-btn {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}